/*
JustinJo.com
By Justin Jo
*/

html {
	background-image: url('./images/background.jpg');
   background-size: cover;
   background-position: center right;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

body {
   margin: 0;
   padding: 0;
}

h1, h2 {
   padding-left: 50px;
   color: #555;
   text-align: left;
   font-size: 420%;
   font-family: 'Asar', serif;
   font-weight: normal;
}

h1 {
   margin-bottom: 0px;
}
h2 {
   margin-top: 0px;
   margin-bottom: 20px;
}

p {
   color: #444;
   font-family: 'Asar', serif;
   font-size: 225%;
   padding-left: 50px;
   padding-right: 50px;
   margin: 0 auto;
   max-width: 50em;
   font-weight: normal;
}

a {
   color: #444;
   font-family: 'Asar', serif;
   font-size: 200%;
   padding-left: 50px;
   padding-right: 50px;
   margin: 0 auto;
   max-width: 50em;
   font-weight: normal;
}

.sidebar {
   padding: 0px;
   float: left;
   height: 100vh;
   width: 50%;
   background-color: rgba(255,255,255,0.5);
   overflow-y: auto;
}

/* desktop only */
@media (min-width: 900px) {
   .sidebar {
      width: 40%;
   }
}

@media (max-width: 899px) {
   .sidebar {
      width: 100%;
   }
}

/* mobile only */
@media only screen and (orientation: landscape) and (max-device-width: 750px) {
   html {
      background-position: center right;
   }
   .sidebar {
      width: 50%;
   }
}

@media only screen and (orientation: portrait) and (max-device-width: 500px) {
   html {
      background-position: center;
   }
   .sidebar {
      width: 100%;
   }
   h1 {
      font-size: 840%;
   }
   a, p {
      font-size: 575%;
      padding-right: 140px;
   }
}


